---
import Layout from "@layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";
import Container from "@components/container.astro";
import { getEntryBySlug } from "astro:content";


const allNewsEntries = await getCollection("news");
const entry = await getEntry("news", "19-11-2024")
const {Content, headings } = await entry.render();

---
<Layout title="">
  <Container>
    <article>
      {
        allNewsEntries.map((newsEntry) => (
          <div class="h-full w-full bg-slate-500">{newsEntry.data.pubDate}</div>
          <div></div>
        ))
      },
    </article>
  </Container>
</Layout>