---
import Container from '@components/container.astro'
import Link from '@components/ui/link.astro'
import Dropdown from './dropdown.astro'
import { Astronav, MenuItems, MenuIcon } from 'astro-navbar'

const menuitems = [
  {
    title: 'Föreningen',
    path: '/omforeningen',
    // children: [{ title: "Dokument", path: "/dokument" }],
  },
  {
    title: 'Boende',
    path: '/boende',
    children: [
      { title: 'Allmänt', path: '/boende' },
      { title: 'Nyheter', path: '/nyheter' },
      // { title: "Dropdown Submenu", path: "#" },
      // { title: "404 Page", path: "/404" },
    ],
  },
  {
    title: 'Mäklarinfo',
    path: '/maklarinfo',
    // children: [
    //   { title: "Action", path: "/" },
    //   { title: "Another action", path: "#" },
    //   { title: "Dropdown Submenu", path: "#" },
    //   { title: "404 Page", path: "/404" },
    // ],
  },
  {
    title: 'Admin vy',
    path: '/keystatic',
    // children: [
    //   { title: "Action", path: "/" },
    //   { title: "Another action", path: "#" },
    //   { title: "Dropdown Submenu", path: "#" },
    //   { title: "404 Page", path: "/404" },
    // ],
  },
]
---

<Container>
  <header
    class="my-5 flex flex-col items-center justify-between pt-8 lg:flex-row">
    <Astronav>
      <div class="flex w-full items-center justify-between lg:w-auto">
        <a href="/" class="text-lg hover:animate-wiggle"
          ><span class="font-bold text-slate-900">BRF BONNEVILLE</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="h-4 w-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      class="group"
                      href={item.path}
                      class="flex flex-col items-center py-2 text-gray-800 lg:px-3">
                      <span class=""> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 animate-pulse rounded-full bg-indigo-600 px-2 py-0.5 text-[10px] font-semibold uppercase text-white">
                          New
                        </span>
                      )}
                      <div class="h-0.5 w-full origin-left scale-0 cursor-pointer bg-black group-hover:scale-100" />
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
