---
import EpClose from '~icons/ep/close'

import Container from '@components/container.astro'
import CharmMenuHamburger from '~icons/charm/menu-hamburger'
import { SITE_NAME } from '@lib/constants'

const menuitems = [
  {
    title: 'Föreningen',
    path: '/omforeningen',
    children: [{ title: 'Dokument', path: '/dokument' }],
  },
  {
    title: 'Boende',
    path: '/boende',
    children: [{ title: 'Nyheter', path: '/nyheter' }],
  },
  {
    title: 'Mäklarinfo',
    path: '/maklarinfo',
  },
  {
    title: 'Logga in',
    path: '/keystatic',
  },
]
---

<Container>
  <header class="my-5 flex h-44 w-full items-center justify-between">
    <a href="#">{SITE_NAME}</a>
    <nav class="flex gap-4">
      {
        menuitems.map((item) => (
          <>
            {item.children ? (
              <div class="group relative grid items-center justify-center gap-0.5">
                <a
                  href="#"
                  class="leading-normal before:invisible before:inline-block before:text-xs before:leading-normal before:content-['●'] group-hover:before:visible">
                  <span>{item.title}</span>
                </a>

                <span class="absolute top-6 hidden w-full min-w-24 justify-end text-center text-sm group-hover:flex">
                  {item.children.map((element) => (
                    <a
                      href="#"
                      class="gap-0.5 py-0.5 before:invisible hover:before:visible hover:before:content-['→']">
                      <span>{element.title}</span>
                    </a>
                  ))}
                </span>
              </div>
            ) : (
              <a
                href="#"
                class="group flex items-center justify-center gap-0.5 before:invisible before:inline-block before:text-xs before:content-['●'] hover:before:visible">
                <span>{item.title}</span>
              </a>
            )}
          </>
        ))
      }
    </nav>
  </header>
</Container>
