---
import { Picture } from "astro:assets";
import heroImage from "assets/Bonneville_mp_Vegastaden_09.webp";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="pt-16 ">
  <div class="justify-center">
    <Picture
      src={heroImage}
      alt="Apartment building from front"
      width= "3000"
      sizes="100vw"
      loading="eager"
      format="avif"
    />
  </div>
</main>
