---
import { getEntry } from "astro:content";

// NOTE: Learn if there's a way to handle singleton content collections
const startPage = await getEntry("pages", "startpage");

const blocks = startPage.data.infoblocks;
---

<section class="flex h-80 flex-wrap justify-center gap-16 pt-14">
  {
    blocks.map(({ title, text }) => (
      <div class="h-full w-full lg:h-60 lg:w-96">
        <h2 class="mt-1p-6 text-3xl font-semibold leading-snug tracking-tight">
          {title}
        </h2>
        <p class="p-6 text-black">{text}</p>
        <button class="m-16 h-10 w-20 rounded-md bg-black" /> {text}
      </div>
    ))
  }
</section>
