---
import { getEntry } from "astro:content";

// NOTE: Learn if there's a way to handle singleton content collections
const startPage = await getEntry("pages", "startpage");

const blocks = startPage.data.infoblocks;
---

<section class="flex h-80 flex-wrap gap-20 pt-14">
  {
    blocks.map(({ title, text }) => (
      <div class="h-60 w-3/12 border border-black p-6">
        <h2 class="mt-1 text-3xl font-semibold leading-snug tracking-tight">
          {title}
        </h2>
        <p class="text-black">{text}</p>
      </div>
    ))
  }
</section>
