---
import { getEntry } from "astro:content";

const startpage = await getEntry("startpage", "index");
---

<section class="flex h-full flex-wrap justify-center gap-16">
  {
    startpage.data.infoblock.map(({ buttontext, title, url, text }) => (
      <div class="mt-12 flex h-full w-full flex-col items-center justify-center lg:h-full lg:w-96">
        <h2 class="p-4 text-3xl font-semibold leading-snug tracking-tight">
          {title}
        </h2>
        <p class="m-4 p-4 text-black">{text}</p>
        <a class="m-8 rounded-md bg-gray-100 p-6 text-black" href={url}>
          {buttontext}
        </a>
      </div>
    ))
  }
</section>
