---
import { getCollection, getEntry } from "astro:content";

const page = await getEntry("pages", "boende");
const { Content, headings } = await page.render();
---

<section class="flex h-full w-full flex-col items-center justify-center">
  <div class="">
    <Content />
  </div>
</section>
