---
import { getCollection } from "astro:content";

const titleandtext = await getCollection("titleandtext");
---

<section class="flex h-80 flex-wrap justify-center gap-16 bg-red-500 pt-14">
  {
    titleandtext.map((titleandtext) => (
        <h2 class="mt-1p-6 text-3xl font-semibold leading-snug tracking-tight">
          {titleandtext.data.title}
        </h2>
        <h2 class="mt-1p-6 text-3xl font-semibold leading-snug tracking-tight">
          {titleandtext.data.text}
        </h2>
    ))
  }
</section>
